body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
body,ul,p{
  margin: 0;
}
ul{
  padding: 0;
  list-style: none;
}
input,button{
  padding: 0;
  border:none;
  cursor:pointer;
  outline:medium;
  vertical-align: middle;
}